<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio */ ?>
<?php $_option = $block->getOption(); ?>
<?php $_selections = $_option->getSelections(); ?>
<?php $_default = $_option->getDefaultSelection(); ?>
<?php list($_defaultQty, $_canChangeQty) = $block->getDefaultValues(); ?>

<div class="field option <?php echo ($_option->getRequired()) ? ' required' : ''; ?>">
    <label class="label">
        <span><?php echo $block->escapeHtml($_option->getTitle()) ?></span>
    </label>
    <div class="control">
        <div class="nested options-list">
            <?php if ($block->showSingle()): ?>
                <?php /* @escapeNotVerified */
                echo $block->getSelectionTitlePrice($_selections[0]) ?>
                <input type="hidden"
                       class="bundle-option-<?php echo (int)$_option->getId() ?>  product bundle option"
                       name="bundle_option[<?php echo (int)$_option->getId() ?>]"
                       value="<?php echo (int)$_selections[0]->getSelectionId() ?>"
                       id="bundle-option-<?php echo (int)$_option->getId() ?>-<?php echo (int)$_selections[0]->getSelectionId() ?>"
                       checked="checked"
                />
            <?php else: ?>
                <?php if (!$_option->getRequired()): ?>
                    <div class="field choice">
                        <input type="radio"
                               class="radio product bundle option"
                               id="bundle-option-<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>"
                               name="bundle_option[<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>]"
                               data-selector="bundle_option[<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>]"
                            <?php echo ($_default && $_default->isSalable()) ? '' : ' checked="checked" ' ?>
                               value=""/>
                        <label class="label" for="bundle-option-<?php /* @escapeNotVerified */
                        echo $_option->getId() ?>">
                            <span><?php /* @escapeNotVerified */
                                echo __('None') ?></span>
                        </label>
                    </div>
                <?php endif; ?>
                <?php foreach ($_selections as $_selection): ?>
                    <div class="field choice">
                        <input type="radio"
                               class="radio product bundle option change-container-classname"
                               id="bundle-option-<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>-<?php /* @escapeNotVerified */
                               echo $_selection->getSelectionId() ?>"
                            <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':true}"' ?>
                               name="bundle_option[<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>]"
                               data-selector="bundle_option[<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>]"
                            <?php if ($block->isSelected($_selection)) echo ' checked="checked"' ?>
                            <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                               value="<?php /* @escapeNotVerified */
                               echo $_selection->getSelectionId() ?>"/>
                        <label class="label"
                               for="bundle-option-<?php /* @escapeNotVerified */
                               echo $_option->getId() ?>-<?php /* @escapeNotVerified */
                               echo $_selection->getSelectionId() ?>">
                            <span><?php /* @escapeNotVerified */
                                echo $block->getSelectionTitlePrice($_selection) ?></span>
                        </label>
                    </div>
                <?php endforeach; ?>
                <div id="bundle-option-<?php /* @escapeNotVerified */
                echo $_option->getId() ?>-container"></div>
            <?php endif; ?>
            <div class="field qty qty-holder">

                <div class="control">
                    <select <?php if (!$_canChangeQty) echo ' disabled="disabled"' ?>
                            id="bundle-option-<?php /* @escapeNotVerified */
                            echo $_option->getId() ?>-qty-input"
                            class="input-text qty<?php if (!$_canChangeQty) echo ' qty-disabled' ?>"
                            type="number"
                            name="bundle_option_qty[<?php /* @escapeNotVerified */
                            echo $_option->getId() ?>]"
                            data-selector="bundle_option_qty[<?php /* @escapeNotVerified */
                            echo $_option->getId() ?>]"
                            value="<?php /* @escapeNotVerified */
                            echo $_defaultQty ?>">
                        <?php for ($i = 0; $i < 51; $i++): ?>
                            <option value="<?php echo $i; ?>"><?php if ($i < 10) {
                                    echo "0" . $i;
                                } else {
                                    echo $i;
                                }; ?></option>
                        <?php endfor; ?>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
