<div class="about">
    <div class="page-main">
        <h3>About Whistlefish</h3>
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('about-homepage')->toHtml(); ?>
        <span class="about__more">Read more</span>
    </div>

</div>

