<div class="featured">
    <h3>As featured in</h3>
   <div class="featured__images">
       <img src="http://placehold.it/200x100" alt="">
       <img src="http://placehold.it/200x100" alt="">
       <img src="http://placehold.it/200x100" alt="">
       <img src="http://placehold.it/200x100" alt="">
       <img src="http://placehold.it/200x100" alt="">
   </div>
</div>