<div class="feed">
    <h3>My Whistlefish</h3>
    <p>Lorem ipsum dolor sit amet, <a href="#">#MyWhistlefish</a> consectetur adipisicing elit.</p>
    
    <div class="feed__images">

        <!--Single Item-->
        <div class="feed__item">
            <img src="http://unsplash.it/g/300?random" alt="" class="feed__image">
            <div class="feed__user">
                <img src="http://placehold.it/50" alt="">
                <p>Username</p>
            </div>
        </div>

        <div class="feed__item">
            <img src="http://unsplash.it/g/300" alt="" class="feed__image">
            <div class="feed__user">
                <img src="http://placehold.it/50" alt="">
                <p>Username</p>
            </div>
        </div>

        <div class="feed__item">
            <img src="http://unsplash.it/300?random" alt="" class="feed__image">
            <div class="feed__user">
                <img src="http://placehold.it/50" alt="">
                <p>Username</p>
            </div>
        </div>

    </div>

</div>