// ========== Review list/faqs
.block.review-list {

  // ========== Block Title
  .block-title {
    display: none;

    strong {
      @include heading($fs1);
    }
  }
}

.product.data.items #reviews {
  padding: 0;
}

// =============== Section heading
.review-items {
  text-align: center;

  .section-heading {
    font-family: $primary-font;
    background: $grey-1;
    padding: 10px 0;

    .review-date {
      margin: 0 0 20px 0;
    }

    .review-title {
      @include heading($fs1);
      margin-bottom: 10px;
    }

    .review-author {
      margin-bottom: 15px;
      display: block;

      strong {
        @include heading($fs0);
        color: $primary-brand-color;
      }
    }

    .review-ratings {
      display: block;
      margin: 0 auto;
      float: none;
    }
  }
}

// =============== Section content
.review-items {
  .review-item {
    border: 0;

    &:nth-of-type(1) {
      @media (min-width: $screen__s) {
        padding-top: 0;
      }
    }
  }
}

.review-content {
  font-family: $secondary-font;
  padding: 20px;
  background: $grey-0;
  margin-bottom: 0;
  border-bottom: 2px solid $grey-2;
}

// ================ leave a review form
.fieldset .review-legend.legend {
  @include heading($fs0);
  line-height: 2;

  strong {
    font-size: $fs1;
  }
}

#review-form {
  label {
    @include heading($fs-1);
  }

  .input-text {
    @include input(2px);
  }

  .action.submit.primary {
    @include button($primary-brand-color, $hover-brand-color);
    color: #fff;
  }
}