// ======= Product details accordion list
.product.data.items {

  // ======= Section title
  .data.item.title {
    margin: 0;
    border-top: 2px solid $grey-2;
    @include background-icon('\f078');

    &:nth-last-of-type(1) {
      border-bottom: 2px solid $grey-2;
    }

    @media (min-width: $screen__m) {
      clear: both;
      text-align: center;
      border: 0;
      width: 100%;

      &:after {
        display: none;
      }

      &:not(#tab-label-reviews){
        @include full-width-bg();
        background: $grey-1;
      }

      &#tab-label-deliveryinfo {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          max-width: 800px;
          height: 3px;
          background: $grey-3;
        }
      }
    }

    &.active:after {
      content: '\f077';
    }

    .data.switch {
      padding-top: 15px;
      padding-bottom: 15px;
      height: auto;
      border: 0;
      @include heading($fs0);
      background: #fff;
      color: $primary-text-color;

      @media (min-width: $screen__m) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: $fs1;
        cursor: default;

        &:not(#tab-label-reviews-title) {
          background: $grey-1;
        }

        &:hover {
          padding-bottom: 50px;
        }
      }
    }
  }

  // ========= Section content
  .data.item.content {
    border: 0;

    @media (min-width: $screen__m) {
      //@include full-width-bg();
      display: block !important;
      text-align: center;
      clear: both;
      margin: 0;

      &:not(#reviews) {
        background: $grey-1;
      }
    }

    &#additional,
    &#deliveryinfo {
      text-align: center;
      font-family: $secondary-font;

      @media (min-width: $screen__m) {
        padding-bottom: 50px;
        @include full-width-bg();
      }

      div, p {
        margin: 0 auto;
        max-width: 800px;
      }
    }

    .data.table.additional-attributes {
      @media (min-width: $screen__m) {
        margin: 0 auto;
      }
    }
  }
}