// ==================== Bundle product options
@media only screen and (max-width: $screen__m) {
  .modal-popup.modal-slide.bundle-options-modal {
    left: 0;
  }
}

.bundle-options-modal {
  .modal-header,
  .modal-content {
    padding: 0
  }

  .modal-content {
    background: #fff;
  }

  .action-close {
    padding: 20px 10px;
  }

  // ================ Modal heading
  h1.modal-title {
    display: none;
  }

  .legend.title {
    @include heading($fs1);
  }

  // ================ Bundle options fieldset
  .fieldset-bundle-options {
    padding: 20px;
    background: $grey-1;
  }

  // =================== Field labels
  .field.option > .label {
    @include heading($fs0);
  }

  // =================== Field
  // =================== Field headings
  .field.option {
    border-bottom: 2px solid $grey-2;
    padding-bottom: 40px;

    &:not(:nth-of-type(1)) {
      margin-top: 40px;
    }
  }

  .field.choice {
    display: flex;
    align-items: center;

    .label {
      font-weight: 600;
    }

    .price {
      font-size: 1rem;
    }
  }

  // =================== Field inputs
  input[type="radio"] {
    margin: 7px 10px 0 0;
  }

  select {
    @include input(0px);
    height: 50px;
    width: 80px;
    margin: 20px auto 0;
    display: block;
  }

  // ============ Reqired notice
  p.required {
    display: none;
  }

  // ============ Bundle summary
  .block-bundle-summary {
    padding: 20px;

    .title {
      @include heading($fs1);
      text-align: center;
      margin-bottom: 30px;
    }

    .content {
      display: flex;
      flex-direction: column-reverse;
    }

    .product-details {
      margin-top: 30px;
      display: flex;
      flex-direction: column-reverse;

      // ============ Price
      .price {
        color: $primary-brand-color;
      }

      // ============ Quantity label
      .qty {
        .label {
          display: none;
        }
      }

      // ============ Product name
      .product.name {
        display: none;
      }

      // ============ Stock
      .stock {
        display: none;
      }
    }

    // ============ Select field
    .box-tocart {
      select {
        border: 2px solid $grey-2 !important;
        margin: 0 auto 20px;
      }
    }

    .actions{
      .action{
        width: 100%;
        height: 50px;
      }
    }
  }

  .bundle.items {
    li {
      padding: 20px 0;
      border-bottom: 2px solid $grey-2;
    }

    .label {
      @include heading($fs0);
      margin-bottom: 10px;
      display: block;
    }
  }

  .modal-footer {
    display: none;
  }
}