// ======== product title wrapper
.page-title-wrapper.product {
  @media (min-width: $screen__xl) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  // ======== product title
  .page-title {
    font-size: $fs3;

    @media (min-width: $screen__xl) {
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1;
    }
  }

  // ======== product title additional
  .product-title-additional {
    display: flex;

    // ======== stock
    .stock {
      margin-right: 10px;
      @include heading($fs0);
    }
    // ======== sku
    .sku {
      color: $primary-text-color;
      @include heading($fs0);

      strong {
        font-weight: 600;
      }
    }
  }
}

// ======== Price
.product-info-price {
  .price-box {
    color: $primary-brand-color;
    // ======== From Label
    .from-label {
      font-family: $secondary-font;
      font-style: italic;
    }

    .price.price {
      font-size: $fs2;
    }
  }
}

// ======== reviews
.product-reviews-summary {
  display: flex;
  flex-direction: column;

  .reviews-actions {
    .action {
      @include heading($fs0);
      @include link($primary-text-color, $primary-brand-color);
    }
  }
}

// Product options wrapper
.product-options-wrapper {
  .swatch-attribute-label {
    @include heading($fs0);
  }

  .swatch-attribute-options {
    @include swatch-options();
    justify-content: flex-start;
  }
}

// ======== Product details bottom
.product-details-bottom {
  @media (min-width: $screen__m) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

// ======== Add to cart
.box-tocart {
  // ======== input field

  label {
    @include heading($fs0);
  }

  .fieldset {
    display: flex;
    flex-direction: column;

    .field {
      margin-bottom: 0 !important;

      input {
        @include input($grey-2);
      }
    }
    // ======== button
    .action {
      @include button($primary-brand-color, $hover-brand-color);
    }
  }
}

// ======== Bundle button
.bundle-actions{
  .action{
    @include button($primary-brand-color, $hover-brand-color);
  }
}

// ======== share icons
.product-addto-links {
  .action.action {
    @include square-icon(#fff, $primary-brand-color);

    line-height: 24px;
    color: $primary-brand-color !important;
  }

  span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .action.tocompare:before {
    content: '\e601';
    color: $primary-brand-color;
    font-weight: normal;
  }

  .action.tocompare:hover:before {
    color: #fff;
  }
}