.category-view {
  position: relative;
  background: $grey-0;
  // ======== Main category title
  .page-title {
    padding-top: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;

    &.image-set{
      position: absolute;
      padding-top: 0;
      top: 60px;
      color: #fff;
    }
  }

  // ======== Main category image
  .category-image {
    margin-bottom: 0;
    img {
      width: 100%;
      display: block;
    }
  }

  // ======== Artist Profile image
  .category-artist {
    @include border-radius(50%);
    width: 150px;
    height: 150px;
    z-index: 1;
    display: block;
    margin: -75px auto 0 auto;
    border: 3px solid #fff;
  }
}

// ======== Category description
.category-description {
  background: $grey-0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: $fs1;
  font-family: $secondary-font;
}