//  =========== Styles for the catalog pagination toolbar
.toolbar-products {
  padding-top: 20px;
  border-top: 2px solid $grey-1;

  //  =========== Styles product amount label
  .toolbar-amount {
    @include heading(fs0);
  }

  //  =========== Sorter select input
  .toolbar-sorter {
    select {
      @include input(1px);
    }
  }
}