//  =========== Styles for the catalog product list component
.product-item {
  text-align: center;
  position: relative;

  // =========== Product details box
  .product-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen__s) {
      min-height: 325px;
    }

    @media (min-width: $screen__m) {
      min-height: 300px;
    }
  }

  //  =========== Product Name
  .product-item-name {
    a {
      @include heading($fs0);
      @include link($primary-text-color, $primary-brand-color)
    }
  }

  // =========== Product price
  .from-label {
    color: $primary-brand-color;
    font-family: $secondary-font;
    font-style: italic;
  }

  .price-box {
    .price {
      color: $primary-brand-color;
      @include heading($fs0);
    }
  }

  // =========== Configurable swatch options
  .swatch-attribute-options {
    @include swatch-options();
  }

  // =========== Add to cart button
  .actions-primary {
    display: block;

    .action.tocart.primary {
      width: 100%;
      @include button($primary-brand-color, $hover-brand-color);
    }
  }

  // =========== Add to wishlist button
  .action.towishlist {
    position: absolute !important;
    @include centererVertical(-20px);
    @include circle-icon($pink, $pink-hover);
    right: 0;
    opacity: 0;
    transition: 0.2s ease opacity;
    z-index: 1;

    @supports not (opacity: 0) {
      display: none !important;
    }

    @media(min-width: $screen__l) {
      right: -20px;
    }

    &:before {
      font-size: 50px !important;
    }
  }

  // =========== List item hover effects
  &:hover,
  &:active,
  &:focus {

    // =========== Product name
    .product-item-name {
      a {
        color: $primary-brand-color;
      }
    }

    // =========== Wish list icon
    .action.towishlist {
      opacity: 1;
      @supports not (opacity: 0) {
        display: block !important;
      }
    }
  }
}
