<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>

<?php
$_category = $block->getCurrentCategory();
$_mobileSpacer = $block->getViewFileUrl('images/3x2.png');
$_desktopSpacer = $block->getViewFileUrl('images/23x5.png');
$_profileSpacer = $block->getViewFileUrl('images/1x1.png');
$_categoryAlt = $block->escapeHtml($_category->getName());
?>

    <!-- Category Title  -->
    <h1 class="page-title <?php if ($_imgUrl = $_category->getImageUrl()) {
        echo "image-set";
    }; ?>"><?php echo $_category->getName(); ?></h1>

    <!-- Main Category Image  -->
    <div class="category-image">
        <?php if ($_imgUrl = $_category->getImageUrl()): ?>
            <picture>
                <source srcset="<?php echo $_desktopSpacer; ?>"
                        media="(min-width: 640px)">
                <img src="<?php echo $_mobileSpacer; ?>"
                     alt="<?php echo $_categoryAlt; ?>"
                     title="<?php echo $_categoryAlt; ?>"
                     class="full-width"
                     style="background-image: url('<?php echo $_imgUrl; ?>'); background-position: center; background-size: cover;  "/>
            </picture>
        <?php endif; ?>
    </div>


    <!-- Artist Profile Image  -->
<?php $_categoryArtist = "http://via.placeholder.com/150x150"; ?>
<?php if (strlen($_categoryArtist) > 0): ?>
    <img src="<?php echo $_profileSpacer ?>" alt="" class="category-artist"
         style="background-image: url('<?php echo $_categoryArtist; ?>'); background-position: center; background-size: cover;  ">
<?php endif; ?>