@mixin button($bg-color, $bg-hover-color) {
  background: $bg-color;
  text-align: center;
  @include border-radius(0);
  text-transform: uppercase;
  transition: 0.2s ease background;
  font-size: $fs0;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    background: $bg-hover-color;
    border: 0;
  }

  span {
    font-size: $fs0;

  }
}