@mixin background-icon($font-code) {
  position: relative;
  cursor: pointer;

  &:after {
    display: block;
    font-family: 'fontAwesome';
    content: $font-code;
    @include centererVertical(0px);
    right: 10px;
  }
}

@mixin circle-icon($bg-color, $hover-bg-color) {
  position: relative;
  @include border-radius(50%);
  background: $bg-color;
  width: 41px;
  height: 41px;

  &:before {
    color: white !important;
    font-weight: bold;
    @include centerer(-1px, 1px);
  }

  &:hover {
    background: $hover-bg-color;
  }
}

@mixin square-icon($bg-color, $hover-bg-color) {
  position: relative;
  @include border-radius(0);
  background: $bg-color;
  width: 50px;
  height: 50px;
  border: 1px solid $grey-2;
  transition: 0.2s ease background;

  &:before {
    @include centerer(-1px, 0px);
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    speak: none;
    text-align: center;
  }

  &:hover {
    background: $hover-bg-color;
    border-color: $hover-bg-color;
  }
}