@mixin input($border-width, $border-color: $grey-2) {
  border: solid $border-width $border-color!important;
  font-family: $primary-font;
  font-size: $fs0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */

  padding-top: 0;
  padding-bottom: 0;

  &:focus{
    box-shadow: 0 0 3px 1px $primary-brand-color;
  }
}