@mixin swatch-options() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .swatch-option {
    width: 33.3333%;
    margin-right: 0;
    margin-bottom: 10px;
    border: 2px solid $grey-2;

    &.text {
      background: #fff !important;
      color: $primary-text-color;
      height: auto;

      &:not(:nth-of-type(3n)):not(:nth-last-of-type(1)) {
        border-right: 0;

        &:hover {
          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 2px;
            top: 0;
            right: 0;
            background: $primary-brand-color;
          }
          + .swatch-option.text {
            border-left: 2px solid transparent;
          }
        }
      }
      &:hover,
      &:active,
      &:focus {
        outline: 0 !important;
        border-color: $primary-brand-color;
        border-width: 2px;
      }
    }
    // Swatch selected state
    &.selected {
      outline: 0;
      border-color: $primary-brand-color !important;
      border-width: 2px !important;
      &:not(:nth-of-type(3n)):not(:nth-last-of-type(1)) {
        border-right: 0;
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 2px;
          top: 0;
          right: 0;
          background: $primary-brand-color;
        }
        + .swatch-option.text {
          border-left: 2px solid transparent;
        }
      }
    }

    &:hover{
      outline: 0;
    }
  }
}

