// default page settings
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &::selection {
    background: $primary-brand-color;
    color: #fff;
  }
}

html,
body {
  font-size: 16px;
  font-family: $primary-font;
  color: $primary-text-color;
}

// ============== Page widths
@media (min-width: 768px) {
  // ============== Two Col
  .page-layout-2columns-left .sidebar-main,
  .page-layout-2columns-left .sidebar-additional {
    width: 20% !important;
  }

  .page-layout-2columns-left .column.main {
    width: 78% !important;
  }

  // ============== Two Col
  .page-layout-1column .product.media.product.media {
    width: 47%;
  }
  .page-layout-1column .product-info-main.product-info-main {
    width: 50%;
  }
}

// default heading sizes
h1,
h1.page-title {
  @include heading($fs3);
}

h2 {
  @include heading($fs2);
}

h3,
h4 {
  @include heading($fs1);
}

h5 {
  @include heading($fs0);
}

h6 {
  @include heading($fs0);
}

// default link styles
a {
  @include link($primary-brand-color, $hover-brand-color);
}

// default button styles
button {
  @include button($primary-brand-color, $hover-brand-color)
}

// default input settings
input {
  @include input(1px);
}