// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chevron-down-2x-name: 'chevron-down-2x';
$chevron-down-2x-x: 0px;
$chevron-down-2x-y: 0px;
$chevron-down-2x-offset-x: 0px;
$chevron-down-2x-offset-y: 0px;
$chevron-down-2x-width: 48px;
$chevron-down-2x-height: 48px;
$chevron-down-2x-total-width: 72px;
$chevron-down-2x-total-height: 48px;
$chevron-down-2x-image: '../images/spritesheet.png';
$chevron-down-2x: (0px, 0px, 0px, 0px, 48px, 48px, 72px, 48px, '../images/spritesheet.png', 'chevron-down-2x', );
$chevron-down-name: 'chevron-down';
$chevron-down-x: 48px;
$chevron-down-y: 0px;
$chevron-down-offset-x: -48px;
$chevron-down-offset-y: 0px;
$chevron-down-width: 24px;
$chevron-down-height: 24px;
$chevron-down-total-width: 72px;
$chevron-down-total-height: 48px;
$chevron-down-image: '../images/spritesheet.png';
$chevron-down: (48px, 0px, -48px, 0px, 24px, 24px, 72px, 48px, '../images/spritesheet.png', 'chevron-down', );
$spritesheet-width: 72px;
$spritesheet-height: 48px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($chevron-down-2x, $chevron-down, );
$spritesheet: (72px, 48px, '../images/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
