.about{
  padding: 2rem;
  text-align: center;
  background-color: $primary-brand-color;
  color: #FFF;
  margin: 0 calc(50% - 50vw + 8px);

  @media(min-width: $screen__xs){
    @include full-width-bg();
  }

  p{
    font-family: $secondary-font;
    width: 75%;
    margin:.8rem auto;
  }

  //Make all paragraphs hidden except the first on mobile screen

  p:not(:nth-child(2)){
    display: none;
    
    @media(min-width: $screen__xs){
      display: block;
    }
  }
}

// Read more section. Only visible on mobile.
.about__more{
  @include heading($fs0);
  cursor: pointer;

  @media(min-width: $screen__xs){
    display: none;
  }
}