.featured{
  width: 100%;
  text-align: center;
}


.featured__images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.featured__images img{
  margin-right:2%;
  margin-top: 1rem;

  @media(max-width: $screen__xs){
    margin-right: 0;
  }

  &:nth-child(5){
    margin-right:0;
  }
}