.feed{
  padding: 2rem;
  text-align: center;
  background-color: $grey-2;
  font-family: $secondary-font;
  @include full-width-bg();
  display: none;

  a{
    font-family:$primary-font;
    @include link($primary-brand-color, $hover-brand-color);
  }

  @media(min-width: $screen__xs){
    display: block;
  }

}

.feed__images{
  display: flex;
  justify-content: center;
}

.feed__item{
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  flex-grow:1;

  &:last-child{
    margin-right:0;
  }
}

.feed__user{
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
  img{
    @include border-radius(50%);
  }
  p{
    margin-bottom:0;
    margin-left:.6rem;
    font-family:$primary-font;
  }
}

