// Contact Details Wrapper

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid $grey-2;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: $fs-1;

  @media(max-width: $screen__m) {
    padding: 4%;
  }
  @media(max-width: $screen__xs) {
    padding: 7%;
  }

}

//Contact details
.contact__details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;

  p{
    margin:.5rem;
  }
}

// Contact Detail Seperator


span.contact__details--seperator{
  display: none;
  @media(min-width: $screen__xs){
    display: block;
  }
}


