
//Container
.register {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;


  p{
    width: 90%;
    margin: 1rem auto;
    font-family:$secondary-font;

    @media(min-width: $screen__m){
      width: 75%;
    }
  }
}

//Button container
.register__buttons{
  display: flex;
  flex-direction: column;

  @media(min-width: $screen__m){
    flex-direction: row;
    justify-content: center;
  }

}

//Button styling
.register__buttons button {
  @include button($blue-1, $hover-brand-color);
  color: #FFF;
  padding: .6rem 2rem;
  margin: .8rem 0;
  width:100%;

  @media(min-width: $screen__m){
    width: auto;
    margin-right: 2%;
    flex-grow:1;

    &:last-child{
      margin-right: 0;
    }
  }

  span{
    font-size: $fs-1;
  }

  &:last-child{
    margin-bottom:2.2rem;
  }
}

//Apply now button
button.register__buttons--apply{
  @include button($blue-2, $hover-brand-color);
  color: #FFF;
  width:100%;
  margin: 0 auto;
  padding: 0 2rem;

  span{
    font-size: $fs-1;
  }

  @media(min-width: $screen__xs){
    max-width: 215px;
  }
}