
.footer__category{
  border-bottom: 1px solid $grey-2;

  a{
    color: $grey-5;
    text-transform: uppercase;
    font-size: $fs-1;
  }

  @media(max-width: $screen__m){
    padding: 4%;
  }
}

.footer__category--heading{
  @include heading($fs1);
  display: block;
  text-align: center;
  margin: 2rem 0;
}

.footer__category--container{
  display: flex;
  text-align: center;

  @media(max-width: $screen__xs){
    flex-direction: column;
    align-items: center;
  }
}

.footer__category--title{
  @include heading($fs0);
  display: block;
  margin-bottom: 1rem;
}


.footer__category{

  &--one{
    width: 33.3%;
    @media(max-width: $screen__xs){
      width: 100%;
    }
  }
  &--two{
    width: 33.3%;
    @media(max-width: $screen__xs){
      width: 100%;
    }
  }
  &--three{
    width: 33.3%;
    @media(max-width: $screen__xs){
      width: 100%;
    }
  }
}


