// Bottom footer, Built By PushON and Copyright

.footer__built{
  display: flex;
  margin-top:.8rem;
  @include heading($fs-1);

  @media(max-width: $screen__xs){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--copyright{
    display: block;
    width: 50%;
    @media(max-width: $screen__xs){
      width: 100%;
      text-align: center;
      margin-bottom: .5rem;
    }
  }

  &--builtby{
    display: block;
    width: 50%;
    text-align: right;
    @media(max-width: $screen__xs){
    width: 100%;
      text-align: center;
    }

  }
}
