//Social links

.footer__social{
  background-color: $grey-2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  margin:0 -100%;
  margin:0 calc(50% - 50vw + 8px);

  @media(max-width: $screen__m){
    padding: 3% 0;
  }
  @media(max-width: $screen__xs){
    padding: 10% 0;
  }


  ul{
    text-align: center;
    li{
      display: inline;
      margin: 0 1.5rem !important;

      img{
        width: 16px;
      }
    }
  }
}

