//Email field and submit button

.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    width: 70%;
    text-align: center;
    font-family: $secondary-font;

    @media(max-width: $screen__m) {
      width: 85%;
    }
  }
}

.block.newsletter .form.subscribe {
  display: flex;
  @media(max-width: $screen__xs) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// Default field styles

.footer.content .block {
  float: none !important;
  margin: 2rem auto;

}

.footer.content {
  border-top-color: $grey-2;
}

.block.newsletter .field {
  margin: 0 !important;
  flex-grow: 1;

  @media(max-width: $screen__m) {
    width: 75%;
    flex-grow: 0;
  }

  @media(max-width: $screen__xs) {
    width: 100%;
  }

}

.form.subscribe {
  // Join us button
  .action.subscribe.primary {
    @include button($primary-brand-color, $hover-brand-color);
    height: 50px;
  }
  // Join us field
  .control{
    position: relative;
    &:before {
      @include centererVertical(0px);
    }
  }

  input {
    @include input(2px);
    height: 50px;
  }
}

// Button responsive properties

@media(max-width: $screen__xs) {
  .block.newsletter .actions {
    width: 100% !important;
    margin: 1.5rem 0;
  }
}

.block.newsletter .action.subscribe {
  margin: 0;
  @media(max-width: $screen__m) {
    width: 100%;
    max-height: 100%;
  }
}

.block.newsletter .actions {
  width: 25%;
}



