// Center element absolute
@mixin centerer($offsetX-amount, $offsetY-amount) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + #{$offsetX-amount}), calc(-50% + #{$offsetY-amount}));
}

// Vertically center
// A negative offset pulls the element up vertically
@mixin centererVertical($offset-amount) {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + #{$offset-amount}));
}