body {
  overflow-x: hidden;
}

@mixin full-width-bg() {
  margin-left: -2000px;
  margin-right: -2000px;
  padding-left: 2000px;
  padding-right: 2000px;
  float: none;
  width: auto;
  display: block;
}
