// Usps

.usps{
  display: flex;
  @media(min-width: $screen__xs) {
    margin-bottom:1rem;
    width: 95%;
    margin:2% auto;
  }
}

.usps__item{
  display: flex;
  flex-basis: 100%;
  background-color: $grey-0;
  color: $blue-2;
  align-items: center;
  justify-content: center;

  span{
    @include heading($fs-1);
    text-align: center;

    @media(min-width: $screen__m){
      margin-left: 5%;
    }
  }

  &--returns, &--rating{
    display: none;

    @media(min-width: $screen__xs) {
      display: flex;
    }
  }

  @media(min-width: $screen__xs) {
    flex-grow: 1;
    margin-right: 2%;
    flex-direction: column;
    align-items: center;
    padding:.2rem 0;

    &:last-child{
      margin-right: 0;
    }
  }

  @media(min-width: $screen__m){
    flex-direction:row;
  }
}


// Icon container

.usps__icons{
  display: flex;
}

// Delivery Styling
.usps__item--delivery{
  flex-grow: 1;
  margin:0 calc(50% - 50vw + 8px);
  padding: 0;

  @media(min-width: $screen__xs){
    margin:0 2% 0 0 ;
  }
}


//Returns icon
.usps__item--returns img.usps__icon{
  width: 32px;
}

//Rating icon styling
.usps__item--rating img.usps__icon{
  margin-right:.4rem;

  &:last-child{
    margin-right:0;
  }
}

// SVG Icon Styling
img.usps__icon {
  height: 48px;
  width: auto;

}