<div class="register">
    <h3>Create an account</h3>
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('trade-create-account')->toHtml(); ?>
    <div class="register__buttons">
        <button><span>Unique selling point</span></button>
        <button><span>Unique selling point</span></button>
        <button><span>Unique selling point</span></button>
    </div>
    <button class="register__buttons--apply"><span>Apply now</span></button>
</div>