<div class="footer__social">
    <ul>
        <li>
            <img src="<?php echo $this->getViewFileUrl('images/facebook.svg'); ?>" alt="Facebook logo">
        </li>
        <li>
            <img src="<?php echo $this->getViewFileUrl('images/twitter.svg'); ?>" alt="Twitter logo">
        </li>
        <li>
            <img src="<?php echo $this->getViewFileUrl('images/instagram.svg'); ?>" alt="Instagram logo">
        </li>
    </ul>
</div>