
<div class="contact">
    <h3 class="contact__header">Need any help?</h3>
    <div class="contact__details">
        <p>Phone: <a tel="00000 000 000">00000 000 000</a></p>
        <span class="contact__details--seperator">|</span>
        <p>Email: <a href="mailto:info@whistlefish.com">info@whistlefish.com</a></p>
    </div>
    <address>Milkwood House, Address, Address, PO57 CDE</address>
</div>