<div class="footer__category">

    <h3 class="footer__category--heading">Quick Links</h3>

    <div class="footer__category--container">
        <div class="footer__category--one">
            <span class="footer__category--title">Category 01</span>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_category_one')->toHtml(); ?>
        </div>

        <div class="footer__category--two">
            <span class="footer__category--title">Category 02</span>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_category_two')->toHtml(); ?>
        </div>


        <div class="footer__category--three">
            <span class="footer__category--title">Category 03</span>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_category_three')->toHtml(); ?>
        </div>
    </div>

</div>