<div class="usps">
    <div class="usps__item usps__item--delivery">
        <img src="<?php echo $this->getViewFileUrl('images/delivery.svg'); ?>" alt="Delivery truck" class="usps__icon">
        <span>Free UK Delivery *</span>
    </div>
    <div class="usps__item usps__item--returns">
        <img src="<?php echo $this->getViewFileUrl('images/return.svg'); ?>" alt="Delivery truck" class="usps__icon">
        <span>30 Day Returns</span>
    </div>
    <div class="usps__item usps__item--rating">
        <div class="usps__icons">
            <img src="<?php echo $this->getViewFileUrl('images/blank-star.svg'); ?>" alt="Empty star" class="usps__icon">
            <img src="<?php echo $this->getViewFileUrl('images/blank-star.svg'); ?>" alt="Empty star" class="usps__icon">
            <img src="<?php echo $this->getViewFileUrl('images/blank-star.svg'); ?>" alt="Empty star" class="usps__icon">
            <img src="<?php echo $this->getViewFileUrl('images/blank-star.svg'); ?>" alt="Empty star" class="usps__icon">
            <img src="<?php echo $this->getViewFileUrl('images/blank-star.svg'); ?>" alt="Empty star" class="usps__icon">
        </div>
        <span>Trusted By Customers</span>
    </div>
</div>