$primary-brand-color: #91bbe3;
$hover-brand-color: #7ea3c5;
$primary-text-color : #231f20;

$grey-0 : #f8f7f7;
$grey-1 : #f1f0f0;
$grey-2 : #e9e8e8;
$grey-3 : #d9d7d8;
$grey-4 : #393536;
$grey-5 : #231f20;


$blue-1: #b9dce7;
$blue-2: #92bfe9;

$pink: pink;
$pink-hover: rgba(255, 193, 204, 0.75);